.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background-color: #27ae60;
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s both;
  animation: animate-svg-fill-1 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s
    both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
  animation: animate-svg-fill-2 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s
    both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2000000000000002s both;
  animation: animate-svg-fill-3 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4000000000000001s both;
  animation: animate-svg-fill-4 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s both;
  animation: animate-svg-fill-5 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s
    both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 245, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 245, 0);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.8s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s both;
  animation: animate-svg-fill-6 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s
    both;
}
